name: Test

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - run: uv sync --locked --all-extras --dev
      - name: Install OpenEquivariance
        run: uv pip install 'openequivariance @ git+https://github.com/PASSIONLab/OpenEquivariance.git#subdirectory=openequivariance'
      - run: uv run pytest tests
