name: Test

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - run: uv sync --locked --all-extras --dev
      - name: Install OpenEquivariance
        run: |
          uv pip install 'openequivariance[jax] @ git+https://github.com/PASSIONLab/OpenEquivariance.git#subdirectory=openequivariance'
          uv pip install 'git+https://github.com/PASSIONLab/OpenEquivariance.git#subdirectory=openequivariance_extjax' --no-build-isolation
      - run: uv run pytest tests
